.field--items {
	display: flex;
	gap: 0.5rem;
}
.field--items .field--item a {
	border: 1px solid var(--blue-shade);
	border-radius: 50vw;
	padding: 0.1rem 0.5rem;
	transition: all 0.5s;
	text-decoration: none;
}
.field--items .field--item:hover a{
	background-color: black;
	color: white;
}